 
 :root {
    --main-font: "DM Sans Bold";
    --secondary-font: "DM Sans Medium";
 }
 
 
 /*  
*,
::before,
::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;

}*/

a {
  text-decoration: none;
}

ul,
ol,
li{
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body{
    height: 100%;
    line-height: 28.16px;
    font-size: 16px;
    
    font-family: "DM Sans Bold", sans-serif;
    
    
   

}

.header-link{
    
        font-weight: 400;
        font-size: 14px;
        line-height: 19.6px;
        font-family: "DM Sans Medium";
    
    
        

   } 
/*

    text-align: right;
    
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        font-family: 'Titan One', cursive;


   
.wrapper {
    min-height: 100%;
    overflow: hidden;
}

._container {
    max-width: 1000px;
    margin: 0px auto;
}

.header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header__container{
    display: flex;
    min-height: 100px;
    align-items: center;
}
*/




